<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Contaminación</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/resultados.css')}}">
    <link href="https://fonts.cdnfonts.com/css/made-coachella" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" style="margin-top: 0.5%;" href="{{ url_for('index') }}">BACK</a>
        </nav>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p ><img src="{{ url_for('static', filename='/assets/logo.png') }}" height="150px" width="150px" alt="First slide"></p>
                </div>  
                {% if barrioHTML == 'el Poblenou' %}
                    <img src="{{ url_for('static', filename='Assets/elpoblenou.jpeg') }}" height="150px" width="150px" alt="Imagen Barrio 1">
                {% elif barrioHTML == 'Sants' %}
                    <img src="{{ url_for('static', filename='Assets/sants.jpeg') }}" height="150px" width="150px" alt="Imagen Barrio 2">
                {% elif barrioHTML == 'la Nova Esquerra de l\'Eixample' %}
                    <img src="{{ url_for('static', filename='Assets/leixample.jpg') }}" height="150px" width="150px" alt="Imagen Barrio 3">
                {% elif barrioHTML == 'la Vila de Gracia' %}
                    <img src="{{ url_for('static', filename='Assets/gracia.jpeg') }}" height="150px" width="150px" alt="Imagen Barrio 4">
                {% elif barrioHTML == 'Sant Pere, Santa Caterina i la Ribera' %}
                    <img src="{{ url_for('static', filename='Assets/santperesantcatarina.jpg') }}" height="150px" width="150px" alt="Imagen Barrio 5">
                {% elif barrioHTML == 'la Vall d\'Hebron' %}
                    <img src="{{ url_for('static', filename='Assets/lavalldhebron.jpeg') }}" height="150px" width="150px" alt="Imagen Barrio 6">
                {% elif barrioHTML == 'Pedralbes' %}
                    <img src="{{ url_for('static', filename='Assets/pedralbes.jpeg') }}" height="150px" width="150px" alt="Imagen Barrio 7">
                {% else %}
                    <img src="{{ url_for('static', filename='Assets/avingudavallvidrera.jpg') }}" height="150px" width="150px" alt="Imagen Barrio 8">
                {% endif %}           
            </div>
        </div>
    </header>
    <main>
        <div class="containerMain">
            <div class="presentation">
                <h1>Resultados</h1>
                <p>La estacion se llama {{nombreCabina}}</p>
                <p>Se encuentra en el barrio {{barrioHTML}}, distrito {{ubicacionCabina}}:</p>
                <p>Los contaminantes en el aire del día {{diaMes}} de Marzo fueron:</p>
            </div>
            
            <div class="table">
                <table>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>CANTIDAD</th>
                        </tr>
                        {% for i in range(bucle) %}
                        <tr>
                            <td>{{codigosContaminantesActivos[i]}}</td>
                            <td>{{informacionContaminantes[i][0]}}</td>
                            <td>{{cantidadContaminanteAire[i]}} {{informacionContaminantes[i][1]}}</td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </main>
   

    <footer class="text-center text-white" style="background-color: #caced1;">
        <div class="container p-4">
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="https://img.goodfon.com/original/2048x1344/d/4c/barcelona-city-barselona-ispaniia.jpg"
                                class="w-100"
                                style="height: 65%;"/>
                            <a href="#!">
                                <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="https://wallpapercave.com/wp/wp1825720.jpg"
                                class="w-100"
                                style="height: 65%;"/>
                            <a href="#!">
                                <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="https://a.cdn-hotels.com/gdcs/production24/d753/82f28000-df2d-44ba-880f-d010ec2f8071.jpg"
                                class="w-100 footerImg"
                                style="height: 65%;"/>
                            <a href="#!">
                                <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="https://s1.1zoom.me/big0/372/Spain_Temples_Houses_479082.jpg"
                                class="w-100 footerImg"
                                style="height: 65%;"/>
                            <a href="#!">
                                <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="https://elarquitectoviajero.com/wp-content/uploads/2017/11/casa-de-les-punxes05.jpg"
                                class="w-100 footerImg"
                                style="height: 65%;"/>
                            <a href="#!">
                                <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="https://estatics-nasia.dtibcn.cat/nasia-pro/media/2015%2C05%2C1-2-2-2-6-DISE-Passeig-de-Gr%25C3%25A0cia-15-4-13-VZ-06.jpg"
                                class="w-100 footerImg"
                                style="height: 65%;"/>
                            <a href="#!">
                                <div
                                class="mask"
                                style="background-color: rgba(251, 251, 251, 0.2);"
                                ></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
        
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://www.etpxavier.com/es/">ETPXavier.com</a>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>